In [1]:
import pandas as pd

## Getting our data together

In [2]:
df1_dict = {'AAPL': {'2011-01-13': 0,
  '2011-01-14': 0,
  '2011-01-18': 0,
  '2011-01-19': 0,
  '2011-01-20': 0},
 'GOOG': {'2011-01-13': 0,
  '2011-01-14': 0,
  '2011-01-18': 0,
  '2011-01-19': 0,
  '2011-01-20': 0},
 'IBM': {'2011-01-13': 0,
  '2011-01-14': 0,
  '2011-01-18': 0,
  '2011-01-19': 0,
  '2011-01-20': 0},
 'XOM': {'2011-01-13': 0,
  '2011-01-14': 0,
  '2011-01-18': 0,
  '2011-01-19': 0,
  '2011-01-20': 0},
 '_CASH': {'2011-01-13': 0,
  '2011-01-14': 0,
  '2011-01-18': 0,
  '2011-01-19': 0,
  '2011-01-20': 0}}

In [3]:
df1 = pd.DataFrame(df1_dict)
df1

            AAPL  GOOG  IBM  XOM  _CASH
2011-01-13     0     0    0    0      0
2011-01-14     0     0    0    0      0
2011-01-18     0     0    0    0      0
2011-01-19     0     0    0    0      0
2011-01-20     0     0    0    0      0

In [4]:
df2_dict = {'day': {0: 13,
  1: 13,
  2: 26,
  3: 2,
  4: 10,
  5: 3,
  6: 3,
  7: 3,
  8: 3,
  9: 10,
  10: 1,
  11: 1,
  12: 20},
 'month': {0: 1,
  1: 1,
  2: 1,
  3: 2,
  4: 2,
  5: 3,
  6: 3,
  7: 6,
  8: 5,
  9: 6,
  10: 8,
  11: 8,
  12: 12},
 'order_type': {0: 'Sell',
  1: 'Buy',
  2: 'Buy',
  3: 'Sell',
  4: 'Buy',
  5: 'Sell',
  6: 'Sell',
  7: 'Sell',
  8: 'Buy',
  9: 'Buy',
  10: 'Buy',
  11: 'Sell',
  12: 'Sell'},
 'shares': {0: 1500,
  1: 4000,
  2: 1000,
  3: 4000,
  4: 4000,
  5: 1000,
  6: 2200,
  7: 3300,
  8: 1500,
  9: 1200,
  10: 55,
  11: 55,
  12: 1200},
 'symbol': {0: 'AAPL',
  1: 'IBM',
  2: 'GOOG',
  3: 'XOM',
  4: 'XOM',
  5: 'GOOG',
  6: 'IBM',
  7: 'IBM',
  8: 'IBM',
  9: 'AAPL',
  10: 'GOOG',
  11: 'GOOG',
  12: 'AAPL'},
 'trans_date': {0: '2011-01-13',
  1: '2011-01-13',
  2: '2011-01-26',
  3: '2011-02-02',
  4: '2011-02-10',
  5: '2011-03-03',
  6: '2011-03-03',
  7: '2011-06-03',
  8: '2011-05-03',
  9: '2011-06-10',
  10: '2011-08-01',
  11: '2011-08-01',
  12: '2011-12-20'},
 'year': {0: 2011,
  1: 2011,
  2: 2011,
  3: 2011,
  4: 2011,
  5: 2011,
  6: 2011,
  7: 2011,
  8: 2011,
  9: 2011,
  10: 2011,
  11: 2011,
  12: 2011}}

## I'm still a little unclear on the index of df2, but i think the steps outlined here make them irrelevant

In [5]:
df2 = pd.DataFrame(df2_dict)
df2

    day  month order_type  shares symbol  trans_date  year
0    13      1       Sell    1500   AAPL  2011-01-13  2011
1    13      1        Buy    4000    IBM  2011-01-13  2011
2    26      1        Buy    1000   GOOG  2011-01-26  2011
3     2      2       Sell    4000    XOM  2011-02-02  2011
4    10      2        Buy    4000    XOM  2011-02-10  2011
5     3      3       Sell    1000   GOOG  2011-03-03  2011
6     3      3       Sell    2200    IBM  2011-03-03  2011
7     3      6       Sell    3300    IBM  2011-06-03  2011
8     3      5        Buy    1500    IBM  2011-05-03  2011
9    10      6        Buy    1200   AAPL  2011-06-10  2011
10    1      8        Buy      55   GOOG  2011-08-01  2011
11    1      8       Sell      55   GOOG  2011-08-01  2011
12   20     12       Sell    1200   AAPL  2011-12-20  2011

## Utilizing stack()
## The result is a multi indexed Pandas Series

In [6]:
df1_stacked = df1.stack()
df1_stacked

2011-01-13  AAPL     0
            GOOG     0
            IBM      0
            XOM      0
            _CASH    0
2011-01-14  AAPL     0
            GOOG     0
            IBM      0
            XOM      0
            _CASH    0
2011-01-18  AAPL     0
            GOOG     0
            IBM      0
            XOM      0
            _CASH    0
2011-01-19  AAPL     0
            GOOG     0
            IBM      0
            XOM      0
            _CASH    0
2011-01-20  AAPL     0
            GOOG     0
            IBM      0
            XOM      0
            _CASH    0
dtype: int64

## Making an assumption here on how you want to handle same-day Buys and Sells by making Sells negative

In [7]:
filter = df2['order_type'] == 'Sell'
df2.loc[filter,'shares'] = df2['shares'] * -1
df2.head()

   day  month order_type  shares symbol  trans_date  year
0   13      1       Sell   -1500   AAPL  2011-01-13  2011
1   13      1        Buy    4000    IBM  2011-01-13  2011
2   26      1        Buy    1000   GOOG  2011-01-26  2011
3    2      2       Sell   -4000    XOM  2011-02-02  2011
4   10      2        Buy    4000    XOM  2011-02-10  2011

## Using groupby() here on trans_date and symbol to get one value for each date and symbol combo

## The result is another multi indexed Series

In [8]:
df2_grouped = df2.groupby(['trans_date', 'symbol'])['shares'].sum()
df2_grouped

trans_date  symbol
2011-01-13  AAPL     -1500
            IBM       4000
2011-01-26  GOOG      1000
2011-02-02  XOM      -4000
2011-02-10  XOM       4000
2011-03-03  GOOG     -1000
            IBM      -2200
2011-05-03  IBM       1500
2011-06-03  IBM      -3300
2011-06-10  AAPL      1200
2011-08-01  GOOG         0
2011-12-20  AAPL     -1200
Name: shares, dtype: int64

##  We update our values in df1_stacked series with the values from df2_grouped
##  update() makes it easy since the indexes are the same between the two Series

In [9]:
df1_stacked.update(df2_grouped)
df1_stacked

2011-01-13  AAPL    -1500
            GOOG        0
            IBM      4000
            XOM         0
            _CASH       0
2011-01-14  AAPL        0
            GOOG        0
            IBM         0
            XOM         0
            _CASH       0
2011-01-18  AAPL        0
            GOOG        0
            IBM         0
            XOM         0
            _CASH       0
2011-01-19  AAPL        0
            GOOG        0
            IBM         0
            XOM         0
            _CASH       0
2011-01-20  AAPL        0
            GOOG        0
            IBM         0
            XOM         0
            _CASH       0
dtype: int64

## And finally, we bring it back to the original df1 format with unstack()

In [10]:
df1_stacked.unstack()

            AAPL  GOOG   IBM  XOM  _CASH
2011-01-13 -1500     0  4000    0      0
2011-01-14     0     0     0    0      0
2011-01-18     0     0     0    0      0
2011-01-19     0     0     0    0      0
2011-01-20     0     0     0    0      0